.SidePage {
  position: absolute;
  background-color: white;
  height: 100%;
  top: 0;
  right: 0;
  --color: #ffdf44;
}



.SidePage .Burger {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 64px;
  height: 64px;
  padding: 20px 16px;
  display: flex;
  transition: transform .4s cubic-bezier(.2, 1, .5, 1);
}
.SidePage .Burger.cross {
  padding: 12px;
  transform: rotate(90deg);
}
.SidePage .Burger div.plain {
  background-color: var(--color);
  flex: 0 0 2px;
}
.SidePage .Burger div.spacing {
  flex: 1;
}
.SidePage .crossbar {
  background-color: var(--color);
  position: absolute;
  top: 50%;
  left: 10%;
  height: 2px;
  width: 80%;
  transform: rotate(45deg);
}
.SidePage .crossbar + .crossbar {
  transform: rotate(-45deg);
}



.SidePage .VerticalNav {
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-out;
  user-select: none;
  font-weight: 700;
}
.SidePage .VerticalNav div {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SidePage .VerticalNav .text {
  font-size: 18px;
  padding: 8px;
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
}
.SidePage .VerticalNav .im {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px #eee solid;
}
.SidePage .VerticalNav .im.disabled {
  cursor: default;
  color: #ddd;
}
.SidePage .VerticalNav .im:not(.disabled):hover {
  background-color: var(--color);
  border-color: var(--color);
  color: white;
}
.SidePage .VerticalNav .im::before {
  transform: rotate(-90deg);
}



.SidePage .SideWrapper {
  position: absolute;
  top: 0;
}

