.SideWrapper {
  opacity: 0;
  transition: opacity .2s ease-out;
  height: 100%;
}
.SideWrapper.visible {
  opacity: 1;
  transition: opacity .5s cubic-bezier(.2, 1, .5, 1);
}

.SideWrapper .SideSection {
  padding: 128px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 1s cubic-bezier(0.3, 0.8, 0.6, 1), transform 1.5s cubic-bezier(0.1, 1, 0.3, 1);
}
.SideWrapper .SideSection:not(.visible) {
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(10px); */
  transition: all 0s;
}


.SideWrapper .SideSection h2 {
  font-size: 16px;
  /* padding: 8px 12px;
  background-color: #eee; */
  align-self: flex-start;
}
.SideWrapper .SideSection h1 {
  margin-bottom: 32px;
}
.SideWrapper .SideSection .button {
  margin-top: 32px;
  padding: 16px;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  transition: all .2s;
}
.SideWrapper .SideSection .button:hover {
  filter: brightness(1.1);
}
.SideWrapper .SideSection .button span {
  font-size: 12px;
  margin-right: 8px;
  transform: translateY(1.5px);
}
