@import url(https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css);
@import url(utils.css);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body, body * {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  touch-action: none;
}

body {
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
