div {
  position: relative;
  display: flex;
  flex-direction: column;
}
div.row {
  flex-direction: row;
}

.absolute-top-left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  cursor: pointer;
  user-select: none;
}
.border {
  border: solid 1px #0003;
  border-radius: 4px;
}